* {

    box-sizing: border-box;
}
body {

    background-color:rgb(252, 248, 248);

    display: flex;

    flex: 1 1 auto;

    flex-flow: column;

    font-family: Arial, Helvetica, sans-serif;

    height: 100vh;

    margin: 0;

    width: 100vw;

}
.topbar {
    display: flex;
    flex-wrap: wrap;
    list-style: non;
    background: white;
}
li {
    display: inline-block;
    padding: 20px;
  }
  
  .main-container {
      display: flex;
      border: 4px solid white;
      height: 100vh;
      margin: 0;
      padding: 0;
      flex-wrap: wrap;


  }
  .advice{
      width: 1342px;
      height: 200px;
      border-left:  4px  white;
      border-bottom: 4px white;
      background-color: blueviolet;
      text-align: center;
      line-height: 200px;
  }
   .autonomous-driving{
    width: 671px;
    height: 200px;
    border-left:  4px  white;
    border-bottom: 4px white;
    background-color:   gray;
    text-align: center;
    flex-wrap: wrap;
    line-height: 200px;

   }
    .Music{
    width: 671px;
    height: 200px;
    border-left:  4px  white;
    border-bottom: 4px white;
    background-color:    rebeccapurple;
    text-align: center;
    flex-wrap: wrap;
    line-height: 200px;
    }

    .country{
        width: auto;
      height: 200px;
      border-left:  4px  white;
      border-bottom: 4px white;
      background-color:  white;
      text-align: center;
      padding: 4px;
      line-height: 200px;

    }
    .second-container{
        display: flex;
        border: 4px solid white;
        height: 100vh;
        margin: 0;
        padding: 0;
        flex-wrap:wrap;
    }
    .carsharing{
        width: 671px;
        height: 200px;
        border-left:  4px  white;
        border-bottom: 4px white;
        background-color:  blue;
        text-align: center;
        line-height: 200px;

    }
    .Erlkoning{
        width: 335.5px;
        height: 200px;
        border-left:  4px  white;
        border-bottom: 4px white;
        background-color:   green;
        text-align: center;
        line-height: 200px;

    }
    .smart-cities{
        width: 335.5px;
        height: 200px;
        border-left:  4px  white;
        border-bottom: 4px white;
        background-color:  burlywood;
        text-align: center;
        line-height: 200px;

    }
    .innovation{
        width: 335.5px;
        height: 200px;
        border-left:  4px  white;
        border-bottom: 4px white;
        background-color:   beige;
        text-align: center;
        line-height: 200px;
    }
    .impression{
        width: 335.5px;
        height: 200px;
        border-left:  4px  white;
        border-bottom: 4px white;
        background-color:   bisque;
        text-align: center;
        line-height: 200px;
    }
    .lifestyle{
        width: 335.5px;
        height: 200px;
        border-left:  4px  white;
        border-bottom: 4px white;
        background-color:    fuchsia;
        text-align: center;
        line-height: 200px;

    }
    .roadtrip{
        width: 335.5px;
        height: 200px;
        border-left:  4px  white;
        border-bottom: 4px white;
        background-color:  darkmagenta;
        text-align: center;
        line-height: 200px;
    }
    .valantine{
        width: 1006.5px;
        height: 200px;
        border-left:  4px  white;
        border-bottom: 4px white;
        background-color:    red;
        text-align: center;
        line-height: 200px;
    }
    .fashion{
        width: 335.5px;
        height: 200px;
        border-left:  4px  white;
        border-bottom: 4px white;
        background-color:  purple;
        text-align: center;
        line-height: 200px;
    }
    .lifestyle{
        width: 335.5px;
        height: 200px;
        border-left:  4px  white;
        border-bottom: 4px white;
        background-color:    blanchedalmond;
        text-align: center;
        line-height: 200px;
    }
    
  .show-more{
      text-align: center;
      width: auto;
       border: 4px white;
       background: white;
       line-height: 200px;
    border: 4px solid gray;
    
  }
  .content-secondary{
    width: auto;
    height: 200px;
    border-left:  4px  white;
    border-bottom: 4px white;
    background-color:  lightgray;
    text-align: center;
    padding: 4px;
  }
   .third-container{
    display: flex;
    border: 4px solid white;
    height: 100vh;
    margin: 0;
    padding: 0;
    flex-wrap:wrap;

   }
   .box1{
    width: 25%;
    height: 200px;
    border-left:  4px  white;
    border-bottom: 4px white;
    background-color:   yellowgreen;
    text-align: center; 
    border: 4px solid white;
    line-height: 200px;  
   }
    .box2{
        width: 25%;
        height: 200px;
        border-left:  4px  white;
        border-bottom: 4px white;
        background-color:   rgb(77, 69, 69);
        text-align: center;
        border: 4px solid white;
        line-height: 200px;  
    }
    .box3{
        width: 25%;
        height: 200px;
        border-left:  4px  white;
        border-bottom: 4px white;
        background-color:   lavender;
        text-align: center;
        border: 4px solid white;
        line-height: 200px;  
    }
    .box4{
        width: 25%;
        height: 200px;
        border-left:  4px  white;
        border-bottom: 4px white;
        background-color:  lightblue;
        text-align: center;
        border: 4px solid white;
        line-height: 200px;  
    }
    .box5{
        width: 25%;
        height: 200px;
        border-left:  4px  white;
        border-bottom: 4px white;
        background-color:   lightcyan;
        text-align: center;
        border: 4px solid white;
        line-height: 200px;  
    }
    .box6{
        width: 25%;
        height: 200px;
        border-left:  4px  white;
        border-bottom: 4px white;
        background-color:   lightgoldenrodyellow;
        text-align: center;
        border: 4px solid white;
        line-height: 200px;  
    }
    .box7{
        width: 25%;
        height: 200px;
        border-left:  4px  white;
        border-bottom: 4px white;
        background-color:   lavenderblush;
        text-align: center;
        border: 4px solid white;
        line-height: 200px;  
    }
  footer{
      background: rgb(77, 69, 69);
  }
  .footer-top{
    display: flex;
    flex-wrap: wrap;
    list-style: non;   
  }
  li {
    display: inline-block;
    padding: 20px;
  }
  .footer-bottem{
    display: flex;
    flex-wrap: wrap;
    list-style: non;   
  }
  li {
    display: inline-block;
    padding: 20px;
  }
  
